/* --------------------------------------------- */
/* Global Styles */
/* --------------------------------------------- */


/* Root */
html {
  background-color: #FAFAF9;
  font-family: "Poppins", sans-serif;
  /* Light */
  font-weight: 300;
  font-style: normal;
  line-height: 1.3;
  font-size: 16px;
  color: #333333;
  scroll-behavior: smooth;
  scroll-padding-top: 5.625rem; /* Set this to the height of your fixed header */
}


/* Typography */
/* --------------------------------------------- */
h1,
h2,
h3,
h4 {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  /* Bold */
  font-weight: 700;
  font-style: normal;
  line-height: 1.1;
  color: #FAFAF9;
}

h1 {
  /* 54 Pixels */
  font-size: 3.375rem;
}

h2 {
  /* 43 Pixels */
  font-size: 2.6875rem;
}

h3 {
  /* 34 Pixels */
  font-size: 2.125rem;
}

h4 {
  /* 27 Pixels */
  font-size: 1.6875rem;
}

p {
  font-size: 1.125rem;
}

strong {
  /* Medium */
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  h1 {
    /* 40 Pixels */
    font-size: 2.5rem;
  }
  
  h2 {
    /* 32 Pixels */
    font-size: 2rem;
  }
  
  h3 {
    /* 28 Pixels */
    font-size: 1.75rem;
  }
  
  h4 {
    /* 24 Pixels */
    font-size: 1.5rem;
  }
  
  p {
    /* 16 Pixels */
    font-size: 1rem;
    line-height: 1.2;
  }
}


/* Buttons */


/* Buttons Primary */
/* --------------------------------------------- */
button.primary {
  padding: 15px 30px;
  font-weight: 600;
  font-size: 1.125rem;
  color: #FFF;
  background-color: #62784C;
  border: 1px solid #62784C;
  border-radius: 5px;
  /* box-shadow: x y blur spread color */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button.primary:hover {
  /* Styles when hovered */
  color: #62784C;
  background-color: #CCD7C1;
  border: 1px solid #CCD7C1;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}

button.primary:active {
  /* Styles when active */
  /* More pronounced pressed effect */
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* Simulates pressing the button down */
  transform: translateY(2px); 
}


/* Buttons Secondary */
/* --------------------------------------------- */
button.secondary {
  padding: 15px 30px;
  font-weight: 600;
  font-size: 1.125rem;
  background-color: transparent;
  color: #CCD7C1;
  border: 1px solid #CCD7C1;
  border-radius: 5px;
  /* box-shadow: x y blur spread color */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button.secondary:hover {
  /* Styles when hovered */
  color: #62784C;
  border: 1px solid #62784C;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}

button.secondary:active {
  /* Styles when active */
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* Simulates pressing the button down */
  transform: translateY(2px);
}


/* --------------------------------------------- */
/* Header - Navigation */
/* --------------------------------------------- */

/* Navbar */
header {
  position: fixed;
  z-index: 999;
  width: 100%;
  /* Left and right 60px */
  padding: 0 3.75rem;
  background-color: #FAFAF9;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  height: 5.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > nav {
  width: 100%;
  max-width: 107.5rem; /* Starts at 1720px and shrinks with viewport size */
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left > .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.logo img {
  height: 3.125rem;
  margin-right: 1.25rem;
}

.logo > p {
  color: #333333;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  /* Medium */
  font-weight: 500;
  font-style: normal;
  line-height: 1.1;
  font-size: 1.375rem;
}

.logo > p:hover {
  /* Styles when hovered */
  color: #62784C;
  text-decoration: underline;
}

.nav-right ul {
  display: flex;
  align-items: center;
}

.nav-right li:not(.last) {
  margin-right: 1.25rem;
}


.nav-right .burger > img {
  width: 40px;
  display: none;
}

.nav-right li > a {
  text-decoration: none;
  color: #333333;
  /* Medium */
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.nav-right li > a:hover {
  /* Styles when hovered */
  color: #62784C;
  text-decoration: underline;
}

.nav-right li > a .up-arrow {
  width: auto;
  height: 0.75rem;
  background-color: #CCD7C1;
  border-radius: 50%;
  padding: 2px;
  
}

@media only screen and (max-width: 768px) {
  header {
    /* Left and right 30px */
    padding: 0 1.875rem;
  }

  .nav-right li:not(:last-of-type) {
    display: none;
  }

  .nav-right .burger > img {
    width: 40px;
    display: block;
  }
}


/* --------------------------------------------- */
/* MAIN - Hero */
/* --------------------------------------------- */

/* Hero Section */
.hero {
  height: 100vh;
  background-image: url(../images/background/elephant.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.left-over-img {
  position: relative;
  top: calc(50% + 5.625rem);
  transform: translateY(-61%);
  background-color: rgba(51, 51, 51, 0.9);
  /* 60px */
  padding: 3.75rem;
  max-width: 32.3125rem;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.left-over-img h1 {
  /* 30 px */
  margin-bottom: 1.875rem;
}

.left-over-img p {
  /* 22px */
  font-size: 1.375rem;
  color: #FFF;
  /* 60 px */
  margin-bottom: 3.75rem;
}

@media only screen and (max-width: 768px) {
  .left-over-img {
    background-color: rgba(51, 51, 51, 0.6);
    /* 30px */
    padding: 1.875rem;
  }

  .left-over-img h1 {
    /* 15 px */
    margin-bottom: 0.9375rem;
  }
  
  .left-over-img p {
    /* 16px */
    font-size: 1rem;
    /* 30 px */
    margin-bottom: 1.875rem;
  }
}

@media only screen and (max-width: 517px) {
  .left-over-img {
    background-color: rgba(51, 51, 51, 0.6);
    /* 30px */
    padding: 1.875rem;
    border-radius: 0;
    text-align: center;
  }

  .left-over-img h1 {
    /* 15 px */
    margin-bottom: 0.9375rem;
  }
  
  .left-over-img p {
    /* 16px */
    font-size: 1rem;
    /* 30 px */
    margin-bottom: 1.875rem;
  }
}


/* --------------------------------------------- */
/* MAIN - Section Mission */
/* --------------------------------------------- */

#mission {
  /* 100% */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  /* Left and right 60px */
  padding: 0 3.75rem;
  background-color: #333333;
  text-align: center;
  color: #FFF;
}

#mission > article {
  width: 100%;
  max-width: 107.5rem; /* Starts at 1720px and shrinks with viewport size */
  margin-top: 3.75rem; /* 60px */
  margin-bottom: 3.75rem; /* 60px */
}

#mission h2 {
  /* 30px */
  margin-bottom: 1.875rem;
}

#mission img {
  /* 100px */
  width: 6.25rem;
  /* 60px */
  margin-bottom: 3.75rem;
}

#mission .p-container {
  /* 60px */
  margin-bottom: 3.75rem;
  display: flex;
  justify-content: space-between;
}

#mission .p-container > p {
  max-width: 32.17%;
}

@media only screen and (max-width: 1379px) {
  #mission img {
    /* 100px */
    width: 6.25rem;
    /* 30px */
    margin-bottom: 1.875rem;
  }
}

@media only screen and (max-width: 768px) {
  #mission > article {
    /* Top 30px, Sides 30px */
    margin: 1.875rem 1.875rem;
  } 

  #mission {
  /* Left and right 30px */
  padding: 0 1.875rem;
  }

  #mission .p-container {
    flex-wrap: wrap;
  }

  #mission .p-container > p {
    /* 533.333 px */
    max-width: 100%;
  }

  #mission .p-container > p:not(:last-of-type) {
    /* 15px */
    margin-bottom: 0.9375rem;
  }
}

@media only screen and (max-width: 517px) { 
  #mission img {
    /* 30px */
    margin-bottom: 1.875rem;
  }
  
  #mission .p-container {
    /* 30px */
    margin-bottom: 1.875rem;
  }
}


/* --------------------------------------------- */
/* MAIN - Section Hippo */
/* --------------------------------------------- */

.hippo {
  height: 100vh;
  background-image: url(../images/background/hippo.webp);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.right-over-img {
  position: relative;
  margin-left: auto; /* Pushes the element to the right */
  top: calc(50% + 5.625rem);
  transform: translateY(-61%);
  background-color: rgba(51, 51, 51, 0.9);
  padding: 3.75rem;
  max-width: 32.3125rem;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
  color: #FFF;
}

.left-quote {
  position: absolute;
  left: 4%;
  top: 13.5%;
}


.testimonial > p:first-of-type {
  font-style: italic;
}

.testimonial > p:last-of-type {
  /* 30px */
  margin-top: 1.875rem;
  /* Medium Font Weight */
  font-weight: 500;
  color: #CCD7C1;
}

@media only screen and (max-width: 1022px) {
  .right-over-img {
    background-color: rgba(51, 51, 51, 0.8);
  }
}

@media only screen and (max-width: 517px) {
  .right-over-img {
    border-radius: 0;
  }
}


/* --------------------------------------------- */
/* MAIN - Section Initiatives */
/* --------------------------------------------- */

#initiatives {
  /* 100% */
  width: 100%;
  margin: 0 auto;
  /* Left and right 60px */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3.75rem;
  text-align: left;
  color: #333333;
}

#initiatives .initiatives-cards {
  width: 100%;
  max-width: 107.5rem; /* Starts at 1720px and shrinks with viewport size */
  margin-top: 3.75rem; /* 60px */
  margin-bottom: 3.75rem; /* 60px */
}

.initiatives-cards h2 {
  text-align: center;
  color: #333333;
  /* 60px */
  margin-bottom: 3.75rem;
}


/* Left Cards */
/* --------------------------------------------- */

.initiatives-cards .left-fifty {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* 60px */
  margin-bottom: 3.75rem;
  color: #333333;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.initiatives-cards .left-fifty:hover {
  background-color: #CCD7C1;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.left-fifty .image-wrapper > img {
  /* 340 */
  max-width: 21.25rem;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.left-fifty h3 {
  color: #333333;
  /* 30px */
  margin-bottom: 1.875rem;
}

.left-fifty .initiatives-text-wrapper {
  /* 30px */
  margin: 0 1.875rem;
  /* 317px */
  max-width: 19.8125rem;
}

.left-fifty .initiatives-span {
  color: #62784C;
  /* Medium */
  font-weight: 500;
  text-decoration: underline;
}


/* Right Cards */
/* --------------------------------------------- */

.initiatives-cards .right-fifty {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #333333;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.initiatives-cards .right-fifty:not(:last-of-type) {
  /* 60px */
  margin-bottom: 3.75rem;
}

.initiatives-cards .right-fifty:hover {
  background-color: #CCD7C1;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.right-fifty .image-wrapper > img {
  /* 340 */
  max-width: 21.25rem;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.right-fifty h3 {
  color: #333333;
  /* 30px */
  margin-bottom: 1.875rem;
}

.right-fifty .initiatives-text-wrapper {
  /* 30px */
  margin: 0 1.875rem;
  /* 317px */
  max-width: 19.8125rem;
}

.right-fifty .initiatives-span {
  color: #62784C;
  /* Medium */
  font-weight: 500;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  #initiatives {
    /* 30px */
    padding: 0 1.875rem;
  }
  
  #initiatives .initiatives-cards {
    /* 30px */
    margin-top: 1.875rem; 
    margin-bottom: 1.875rem; 
  }

  .initiatives-cards h2 {
    /* 30px */
    margin-bottom: 1.875rem;
  }

  .initiatives-cards .left-fifty,
  .initiatives-cards .right-fifty:not(:last-of-type) {
    /* 30px */
    margin-bottom: 1.875rem;
  }

  .right-fifty h3,
  .left-fifty h3 {
    /* 15px */
    margin-bottom: 0.9375rem;
  }
  
  .right-fifty .initiatives-text-wrapper,
  .left-fifty .initiatives-text-wrapper {
    /* 15px */
    margin: 0 0.9375rem;
  }
} 

@media only screen and (max-width: 608px) {
  .initiatives-cards .left-fifty,
  .initiatives-cards .right-fifty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .left-fifty .image-wrapper > img
  .right-fifty .image-wrapper > img {
    width: 100%;
    border-radius: 0;
  }

  /* Ensure the image wrapper comes first */
  .left-fifty .image-wrapper,
  .right-fifty .image-wrapper {
    order: -1; /* Move image to the top */
  }

  .image-wrapper {
    /* 15px */
    margin-bottom: 0.9375rem;
  }

  .initiatives-cards h3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .initiatives-cards h3 img[alt*="Left arrow"] {
    display: none;
  }

  .initiatives-cards h3 img[alt*="Right arrow"] {
    display: none;
  }
}


/* --------------------------------------------- */
/* MAIN - Section Leopard */
/* --------------------------------------------- */

.leopard {
  height: 100vh;
  background-image: url(../images/background/leopard.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* --------------------------------------------- */
/* MAIN - Section Team */
/* --------------------------------------------- */

#team {
  /* 100% */
  width: 100%;
  margin: 0 auto;
  /* Left and right 60px */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3.75rem;
  text-align: center;
  background-color: #333333;

}

#team h2 {
  /* 60px */
  margin-top: 3.75rem;
}

#team .team-cards-wrapper {
  width: 100%;
  max-width: 107.5rem; /* Starts at 1720px and shrinks with viewport size */
  margin-top: 3.75rem; /* 60px */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team-card {
  /* 290px */
  max-width: 18.125rem;
  margin-bottom: 3.75rem;
  border-radius: 5px;
  background-color: #FAFAF9;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}

.team-card img {
  /* 290 */
  max-width: 18.125rem;
}

.team-member-title {
  border-bottom: 1px solid #CCD7C1;
}

.team-member-title h3 {
  color: #333333;
  /* 15px */
  margin-top: 0.9375rem;
}

.team-member-title h4 {
  color: #62784C;
  /* 15px */
  margin-top: 0.9375rem;
  /* 15px */
  margin-bottom: 0.9375rem;
}

.team-member-text {
  /* 138px */
  height: 8.625rem;
  /* 15px 30px */
  margin: 0.9375rem 1.875rem;
  display: flex;
  align-items: center;
}

.team-member-linked-in {
  border-top: 1px solid #CCD7C1;
  /* 15px */
  padding-top: 0.9375rem;
  /* 15px */
  padding-bottom: 0.9375rem;
}

.team-member-linked-in > img {
  /* 44px */
  height: 2.75rem;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.team-member-linked-in > img:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #CCD7C1;
}

.team-member-linked-in > img:active {
  /* Styles when active */
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* Simulates pressing the button down */
  transform: translateY(2px);
}

@media only screen and (max-width: 768px) {
  #team {
    /* Left and right 30px */
    padding: 0 1.875rem;
  }
  
  #team h2 {
    /* 30px */
    margin-top: 1.875rem;
  }
  
  #team .team-cards-wrapper {
    margin-top: 1.875rem; /* 30px */
  }

  .team-card {
    /* 30px */
    margin-bottom: 1.875rem;
  }

}

@media only screen and (max-width: 699px) {
  #team .team-cards-wrapper {
    justify-content: center;
  }
}


/* --------------------------------------------- */
/* MAIN - Section Lion */
/* --------------------------------------------- */

.lion {
  height: 100vh;
  background-image: url(../images/background/lion.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* --------------------------------------------- */
/* MAIN - Section Contact */
/* --------------------------------------------- */

/* Links Section */
#contact {
  /* 100% */
  width: 100%;
  margin: 0 auto;
  /* Left and right 60px */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3.75rem;
  text-align: center;
}

#contact .links-container {
  width: 100%;
  max-width: 107.5rem; /* Starts at 1720px and shrinks with viewport size */
  margin-top: 3.75rem; /* 60px */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.links-container h2 {
  color: #333333;
  /* 30px */
  margin-bottom: 1.875rem;
}

.links-container .footer-logo > img {
  /* 75px */
  width: 4.6875rem;
  height: auto;
  /* 30px */
  margin-bottom: 1.875rem;
}

.links-container li:not(:last-of-type) {
  /* 15px */
  margin-bottom: 0.9375rem;
}

.links-container a {
  color: #62784C;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.links-container a:hover {
  color: #333333;
  text-decoration: underline;
}

.links-container a:active {
  /* Simulates pressing the button down */
  transform: translateY(2px);
}

.links-container .primary {
  /* 30px */
  margin-top: 1.875rem;
}

@media only screen and (max-width: 883px) {
  #contact .links-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .links-container nav:not(:last-of-type) {
    /* 30px */
    padding-bottom: 1.875rem;
    margin-bottom: 1.875rem;
    border-bottom: 1px solid #CCD7C1;
  }
}

@media only screen and (max-width: 768px) {
  #contact {
    /* 30px */
    padding: 0 1.875rem;
  }
  
  #contact .links-container {
    margin-top: 0.9375rem; /* 10px */
  }

  .links-container nav:not(:last-of-type) {
    /* 30px */
    padding-bottom: 1.875rem;
    margin-bottom: 1.875rem;
  }
}

/* Legal Section */

.legal-container {
  background-color: #333333;
  /* 60px */
  margin-top: 3.75rem;
  padding: 1.875rem;
  color: #FFF;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.legal-container p {
  font-size: 0.875rem;
  font-weight: 400;
}

.legal-container p:first-of-type {
  /* 15px */
  margin-bottom: 0.9375rem;
}

.legal-container a {
  color: #CCD7C1;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.legal-container a:hover {
  color: #FFF;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .legal-container {
    /* 30px */
    margin-top: 1.875rem;
  }
}